.body {
    padding: 25px;  
    background-color: lightgrey!important;
}
.repo-btn{
    background-color:teal !important;
}

/* Container holding the image and the text */
.repo-container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color:teal;
  
    max-width:100%;
  }

.jumbotron {
    height:90vh;
    background-color:white;
}

.container {
    margin-top:20px;
    /* border: 20px solid #009688; */
}

.main {
    padding: 25px;
}

.row {
    margin: 25px;

}
.p {
    font-family: 'IM Fell English', serif;
}

.p card-text {
    size: 30px;
} 

.h1, .h2, .h3, .h4, .h6, h1, h2, h3, h4, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #516e9c;
    font-family: 'IM Fell English', serif;
} 

.navbar {
    background-color: #cddefa;
}
    
.navbar-expand-lg .navbar-collapse {
    float: right;

}

.navbar-nav .nav-link {
    float: right;
    font-family: 'IM Fell English', serif;
    font-size: 24px;
}

.card-text:last-child {
    margin-bottom: 0;
    text-align: left;
    text-indent: 5%;
}

div.card {
    border:0 !important;
}

.btn-primary {
    background-color: #516e9c;
}

.footer{
    position: fixed;
    left: 0;
    bottom: -26px;
    width: 100%;
    color: white;
    text-align: left; 
    margin-bottom:0px !important;
}
.footer a {
    color: white;
}

.fab {
    
    float: right;
    font-size: large;
    /* text-indent:-60px; */
     padding-right: 4px; 
    color: white;
}

/* 
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    margin-right: 25px;

} */

/*will need to adj down the portfolio images*/

#bannercontainer{
    position: relative !important;
}


#bannertext{
    position:absolute !important;
    bottom:8px !important;
    right:16px !important;

}

#img-thumbnail {
    float: left; 
    margin: 4px 20px 10px 0px; 
    border: 1px solid #516e9c;
    width: 200px; 
    border-radius: 4%;
}

/*portfolio area*/
#portfoliobanner{
    position: relative;
    left: 0px;
    top:-85px;
    width:100%;
    background-color: #516e9c;
    /* border: 1px solid rgb(32, 32, 32); */
    padding:20px;
    margin:0px;
    text-align: center;
    color:white;
    }